<ion-view title="Donde es el incendio?">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        Arrastra el pin con tu dedo hacia la ubicacion del incendio.
            <div class="item item-text-wrap">
                {{LocationDescription}}
            </div>
            <google-map center="map.center" zoom="map.zoom" draggable="true">
                <markers>
                    <marker coords="marker.coords" options="marker.options" events="marker.events"></marker>
                </markers>
            </google-map>
    </ion-content>
    <div ng-click="createDisaster()" class="bar bar-footer bar-positive">
        <h1 class="title">Reportalo!</h1>
    </div>   
</ion-view>