<ion-view title="Inicio">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
       
        <h1> Crear Reporte </h1> 
        <div class="list card">
            <div class="item">
                {{LocationDescription}}
            </div>
            <google-map center="map.center" zoom="map.zoom" draggable="true">
                <markers>
                    <marker coords="marker.coords" options="marker.options" events="marker.events"></marker>
                </markers>
            </google-map> 
            <a class="item item-icon-left balanced" ng-click="createDisaster()">
                <i class="icon ion-checkmark"></i>              
                Crear Reporte 
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="margin: 0; padding: 0;">
        <button ng-click="crearReporte()" class="button button-full button-positive">
            Crear reporte
        </button>
    </div>   
</ion-view>