<ion-view title="Login">
    
    <ion-content class="has-header">
        
        <div class="form-group">
            <form ng-submit="basicLogin()">
                <div class="form-group">
                    <input ng-model="data.email" class="form-control" placeholder="Email" type="text" required="">
                </div>
                <div class="form-group">
                    <input ng-model="data.password" class="form-control" placeholder="Password" type="password" required="">
                    <input type="submit" value="&#xf054;">
                </div>
                <!--<div class="form-options clearfix">
                    <a class="pull-right" href="#">Forgot password?</a>
                    <div class="text-left">
                        <label class="checkbox"><input type="checkbox"><span>Remember me</span></label>
                    </div>
                </div>-->
            </form>
        </div>

        <!--<button class="button button-block button-positive disable-user-behavior" type="button" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>-->
        <!--<button class="button button-block button-positive disable-user-behavior" type="button"  data-ng-click="login()">Login with Facebook</button>-->

    </ion-content>

</ion-view>