<ion-view title="Reporte de Fuegos" class="slide-left-right">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        
        <div class="list card" ng-repeat="reporte in reportes">
            <div class="item item-avatar">
                <!--<img src="avatar.jpg">-->
                <h2>{{reporte.LocationDescription}}</h2>
                <p>{{reporte.CreatedDate.$date}}</p>
                <p><span>Severidad: </span>{{reporte.SeverityAverage}}</p>
            </div>
            <div class="item item-image card-image">
                <img ng-src="{{reporte.Images[0]}}">
            </div>
            <a class="item item-icon-left positive" href="#/app/reporte/{{reporte._id.$oid}}" >
                Detalles
            </a>
        </div>
        
        <div ng-show="reportes != null && reportes != undefined && reportes.length == 0" class="card">
          <div class="item item-text-wrap">
            <h1>No hay reportes</h1>
          </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="padding: 0;margin: 0">
        <button ng-click="takePicture()" class="button button-full button-positive">
            Denunciar
        </button>
    </div>
</ion-view>