<ion-view title="Denunciar">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                <p class="card-image">
                    <google-map center="map.center" zoom="map.zoom"></google-map> 
                </p>
                <!--<p>
                    {{reporte.description}}
                </p>
              
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-close-circled"></i>
                        No Valido
                    </a>                
                </div>-->
            </div>
            <div class="item item-avatar" >
                <!--<img  src="{{reporte.photo}}">
                <h2>{{reporte.title}}</h2>-->
                <p>Seleccione la ubicacion del incendio</p>
            </div>
        </div>
    </ion-content>
</ion-view>
