<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="environment" value="local" />
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FireTower;integrated security=true" providerName="System.Data.SqlClient" />
    <add name="remote" connectionString="Server=d74a82c5-7b26-4e18-b80e-a2ff01357bd3.sqlserver.sequelizer.com;Database=dbd74a82c57b264e18b80ea2ff01357bd3;User ID=gjcjuajzyluzrjdz;Password=wtRoeis77HjpaPzYpKxMoaHQzjmjCvFZZv2WTHygegynXi3ra7Qe6DPvSbW35hBJ;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1402.2112" newVersion="4.2.1402.2112" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="local" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FireTower;integrated security=true" providerName="System.Data.SqlClient" />
    <add name="remote" connectionString="Server=d74a82c5-7b26-4e18-b80e-a2ff01357bd3.sqlserver.sequelizer.com;Database=dbd74a82c57b264e18b80ea2ff01357bd3;User ID=gjcjuajzyluzrjdz;Password=wtRoeis77HjpaPzYpKxMoaHQzjmjCvFZZv2WTHygegynXi3ra7Qe6DPvSbW35hBJ;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>